---
sitemap: false
---

/*
* Common Variables
*
* Feel free to change!
*
*/

/* FONTS */

$heading-font: sans-serif;
$regular-font-size: 18px;
$font-font-awesome: FontAwesome;
/*
* COLOR.
*
* Make sure to leave color-scheme in config file empty for granular control
*
*/

$text-color: #454545;
$heading-color: #404040;
$link-color: #841212;


@import "ed";
@import "syntax";
